@import "~node_modules/modern-normalize/modern-normalize.css";

body {
    font-family: var(--font-main);
    font-size: var(--font-size);
    color: var(--text-color-main);
}

body.modal-open {
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visual-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    @include mobile-only() {
        max-width: 480px;
    }

    @include tablet-only() {
        width: 768px;
    }

    @include desktop-only() {
        width: 1200px;
    }

    @include desktop-xl() {
        width: 1424px;
    }
}

.no-scroll {
    overflow: hidden;
}
